@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap");
$font-stack: Arimo, sans-serif;
$primary-color: #bd49a4;
$light-color: #f3f3f3;
$dark-color: #444444;
$highlight-color: #3dc2ff;
